.SignIn {
    float: right;
    margin-top: 10px;
}
.stdinput {
    font-size: 8pt;
    color: #000000;
    background: #FFFFFF;
    border: 1px solid #000000;
    margin: 4px 1px 0px 1px;
    padding: 2px 3px 2px 3px;
}
.stdbtn {
    font-size: 8pt;
    color: #000000;
    background: #FFFFFF;
    border: 2px outset #000000;
    height: 21px;
    margin: 4px 1px 0px 1px;
    padding: 0px 4px 1px 4px;
}